.container{
    padding-top: 12px;
    box-sizing: border-box;
    max-width: 410px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color: grey;
}